


.floor-palan-list-area {
    display: grid;
    grid-template-columns: auto auto auto auto;
}


.filter-button {
    margin-right: 15px;
}

.upload-button {
    margin-right: 1em;
}

.plan-img{
    width: 95%;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

a.danger {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 6px 12px;
    color: black;
    text-decoration: none !important;
}